<div class="editableTablePage">
	<div class="tableWrapper">
		<div class="tableControl">
			<i class="fa fa-plus addButton" ng-click="$ctrl.addRow()"></i>
			<span ng-show="$ctrl.selectedIndex != null && $ctrl.selectedIndex != 'undefined'" class="rowControl">
				<a href="#" ng-click="$ctrl.editRow()">Edit</a>
				<a href="#" ng-click="$ctrl.removeRow()">Remove</a>
			</span>
		</div>
		<table class="defaultTable">
			<tr class="header">
				<th>Heated Area</th>
				<th>PCT of Base</th>
				<th>Sub-Area Mkt Value</th>
				<th>Total Adj Area</th>
				<th>Total Gross Area</th>
				<th>Type</th>
			</tr>
			<tr class="content" 
				ng-repeat="area in $ctrl.building.BuildingAreas" ng-click="$ctrl.selectRow($index)"
				ng-class="{selected: $ctrl.selectedIndex == $index}">
				<td>{{area.HeatedArea}}</td>
				<td>{{area.PCTOfBase}}</td>
				<td>{{area.SubareaMarketValue}}</td>
				<td>{{area.TotalAdjustedArea}}</td>
				<td>{{area.TotalGrossArea}}</td>
				<td>{{area.Type}}</td>
			</tr>
		</table>
	</div>
</div>