<div id="login">
    
    <img class="appTitleImage" src="/images/MAppraisal_logo.png">

    <div class="formWrapper">

        <div class="row">
            <label>USERNAME</label>
            <input type="text" data-clear-btn="false" name="MALogin_Username" value="" autocomplete="off">
        </div>

        <div class="row">
            <label>PASSWORD</label>
            <input type="password" data-clear-btn="true" name="MALogin_Password" value="" autocomplete="off">
        </div>

        <div class="row">
            <button type="submit" ng-click="$ctrl.login()">LOGIN</button>
        </div>
    </div>
</div>
