<div>
    <h2>Properties <span>{{$ctrl.properties.length}} / 21</span></h2>
    <ul class="propertyList">
        <li ng-repeat="property in $ctrl.properties | orderBy: 'order' track by $index" ng-click="$ctrl.propertyClick($index)">
            <article>
                <header>
                    <div>{{property.markerLetter}}</div>
                </header>
                <span class="address">{{property.Address.Address}}</span>
                <span>{{property.Buildings.length}} Buildings</span>
            </article>
        </li>
    </ul>
</div>
