<div>
    <div class="location">
        <div class="row">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            <input ng-model="$ctrl.start" type="text" placeholder="Choose start location">
        </div>
        <div class="row">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <input ng-model="$ctrl.end" type="text" placeholder="Choose end location">
        </div>
        <button ng-click="$ctrl.locationChanged()" class="update">Re-Calculate</button>
    </div>
    {{$ctr.properties}}
    <div>
        <h2>Properties <span>{{$ctrl.filteredProperties.length}} / 21</span></h2>
        <ul class="propertyList">
            <li ng-repeat="property in $ctrl.properties | orderBy: 'order'" ng-click="$ctrl.propertyClick(property)">
                <article>
                    <header>
                        <div>{{property.markerLetter}}</div>
                    </header>
                    <span class="address">{{property.Address.Address}}</span>
                    <span>{{property.Buildings.length}} Buildings</span>
                </article>
            </li>
        </ul>
    </div>
</div>