<loading ng-if="$ctrl.loading == true"></loading>

<div class="innerPropertiesPage">
    <section ng-show="!$ctrl.scheduledProperties || $ctrl.scheduledProperties.length == 0" class="noPropertiesMessage">
        <h2>You currently have no scheduled properties to view.</h2>
        <p>To schedule a property, click below and select the properties you want to view.</p>
        <a href="#" ng-click="$ctrl.goToUnscheduled()">View Unscheduled properties</a>
    </section>
    <section ng-if="$ctrl.scheduledProperties && $ctrl.scheduledProperties.length > 0">
        <div class="sideColumn">
            <maporigindest
                ng-if="$ctrl.showList"
                updatelocation="$ctrl.updatelocation(start, end)">
            </maporigindest>

            <scheduledpropertylist
                ng-if="$ctrl.showList"
                properties="$ctrl.scheduledProperties"
                onpropertyselected="$ctrl.propertyselected(index)">
            </scheduledpropertylist>

            <scheduledproperty
                ng-if="!$ctrl.showList"
                property='$ctrl.selectedProperty'
                update='$ctrl.updatepropertylist()'
                back='$ctrl.tolist(listUpdated)'>
            </scheduledproperty>
        </div>
        <scheduledmap
            properties='$ctrl.scheduledProperties'
            start='$ctrl.start'
            end='$ctrl.end'
            directionscallback='$ctrl.directionscallback(routes)'
            onpropertyselected='$ctrl.propertyselected(index)'
            selectedpropertyindex='$ctrl.selectedIndex'>
        </scheduledmap>
    </section>
</div>
