<div class="ui-grid-solo">
    <div id="MAAbout_Header" class="ui-bar ui-bar-c">GVP Mobile Appraiser</div>
    <ul data-role="listview" id="MAAbout_View">
        <li><b>Product Name: </b>GVP Mobile Appraiser</li>
        <li><b>Version: </b>Alpha 1.0.1.2</li>
        <li><b>Release date: </b>Aug. 09, 2016</li>
        <li><b>Description: </b><p><br />GVP Mobile Appraiser is part of the GeoViewport solution developed by iLOOKABOUT.</p></li>
        <li><b>Mail: </b><p>iLOOKABOUT <br />c/o Administrative Assistant <br />383 Richmond St., Suite 408 <br />London, ON N6A 3C4 <br />Email:	info@ilookabout.com</p></li>
        <li><a href="http://www.ilookabout.com">iLOOKABOUT</a></li>
    </ul>
</div>