<div id="editProperty">

    <header class="propertyLocation">
        <h1>
            {{$ctrl.property.Address.UnitNumber}} {{$ctrl.property.Address.FullStreet}}, <span>{{$ctrl.property.Address.City}} {{$ctrl.property.Address.Zip}}</span>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="#" ng-click="$ctrl.showPopup = true"><i class="fa fa-file-text note"></i></a>
                </li>
                <li>
                    <a ngf-select="$ctrl.upload($file)"><i class="fa fa-camera camera"></i></a>
                </li>
                <li>
                    <a href="#" ng-click="$ctrl.goToProperty()"><i class="fa fa-home homeButton"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="buildingTitle" ng-show="$ctrl.buildingId != null && $ctrl.buildingId != 'undefined'">
        <i class="fa fa-arrow-left leftArrow" ng-show="$ctrl.property.Buildings.length > 1" ng-click="$ctrl.goToPreviousBuilding()"></i>
        <span>Building {{$ctrl.buildingId}}</span>
        <i class="fa fa-arrow-right rightArrow" ng-show="$ctrl.property.Buildings.length > 1" ng-click="$ctrl.goToNextBuilding()"></i>
    </div>

    <ul id="primaryNavigation">
        <li ng-click="$ctrl.goToBuildingTab()" ng-class="{selected: $ctrl.selectedTab == 'building'}">Buildings</li>
        <li ng-click="$ctrl.goToPropertyTab()" ng-class="{selected: $ctrl.selectedTab == 'property'}">Property</li>
    </ul>

    <ui-view></ui-view>

    <div class="popUpWrapper" ng-show="$ctrl.showPopup">
        <div class="popup">
            <a href="#" class="fa fa-times-circle-o closeButton" ng-click="$ctrl.showPopup = false; $ctrl.newNote = ''"></a>
            <div class="contents">
                <div class="elementWrapper">
                    <label>Note</label>
                    <textarea ng-model="$ctrl.newNote" type="text"></textarea>
                </div>
            </div>
            <div class="buttonWrapper">
                <a href="#" class="cancel"  ng-click="$ctrl.showPopup = false; $ctrl.newNote = ''">Cancel</a>
                <a href="#" class="save" ng-click="$ctrl.saveNote()">Save</a>
            </div>
        </div>
    </div>

</div>