<div id="mapPage">
    <div id="map">
    	<ui-gmap-google-map bounds="map.bounds" center="$ctrl.currentPosition" zoom="12">
    		<ui-gmap-markers
    			models="$ctrl.filteredProperties"
    			idKey="'Id'"
    			coords="'Coords'"
    			options="'markerOptions'"
    			control="$ctrl.markerControl"
    			fit="true">
    		</ui-gmap-markers>
    		<ui-gmap-marker
    			idKey="19999"
    			coords='$ctrl.currentPositionMarker.coords'
    			options='$ctrl.currentPositionMarker.markerOptions'>
    		</ui-gmap-marker>
    	</ui-gmap-google-map>
    </div>
</div>
