<div id="properties">
    <div class="tabs">
        <span 
            ng-click="$ctrl.filter.WorkStatus='unscheduled'; $ctrl.propertiesChanged()" 
            ng-class="{selected: $ctrl.filter.WorkStatus == 'unscheduled'}">
            Unscheduled
        </span>
        <span ng-click="$ctrl.filter.WorkStatus ='scheduled'; $ctrl.propertiesChanged()" ng-class="{selected: $ctrl.filter.WorkStatus == 'scheduled'}">
            Scheduled
        </span>
        <span  ng-click="$ctrl.filter.WorkStatus='complete'; $ctrl.propertiesChanged()" ng-class="{selected: $ctrl.filter.WorkStatus == 'complete'}">
            Completed
        </span>
    </div>
    <div ng-if="$ctrl.showMap" class="map">
        <mapcomponent 
            properties='$ctrl.filteredProperties'
            directionscallback='$ctrl.routesChanged(routes)' 
            control="myGoogleMap">        
        </mapcomponent>
    </div>
    <div class="pageWrapper">
        <div class="searchWrapper">
            <input type="text" ng-model="$ctrl.filter.$" ng-change="$ctrl.applyFilter()"/>
            <span>
                <i class="fa fa-search"></i>
            </span>
        </div>
        <span class="showHideMap" ng-click="$ctrl.showMap=!$ctrl.showMap;">
            <i ng-show="$ctrl.showMap==false" class="fa fa-angle-double-up"></i>
            <i ng-show="$ctrl.showMap==true" class="fa fa-angle-double-down"></i>
            <i class="fa fa-globe"></i>
        </span>
        <div class="tableWrapper">
            <table id="MAList_Table">
                <tr class="header">
                    <th></th>
                    <th></th>
                    <th>Property ID</th>
                    <th>Class</th>
                    <th>Buildings</th>
                    <th>Nbhd</th>
                    <th>Address</th>
                    <th>Street</th>
                    <th>City/Province</th>
                    <th></th>
                </tr>
                <tr ng-repeat="property in $ctrl.filteredProperties | orderBy: order">
                    <td><i class="fa fa-map-marker" aria-hidden="true"></i>{{property.markerLetter}}</td>
                    <td ng-show="$ctrl.filter.WorkStatus=='unscheduled'" ng-click="$ctrl.scheduleProperty(property); $ctrl.propertiesChanged()">
                        <span class="secondaryButton">Schedule</span>
                    </td>
                    <td ng-show="$ctrl.filter.WorkStatus=='scheduled'" ng-click="$ctrl.unscheduleProperty(property);$ctrl.propertiesChanged()">
                        <span class="secondaryButton">Unschedule</span>
                    </td>
                    <td ng-show="$ctrl.filter.WorkStatus=='complete'"></td>
                    <td>{{property.Id}}</td>
                    <td>{{property.Type.Dor_CD}}</td>
                    <td>{{property.Buildings.length}}</td>
                    <td>{{property.Details.CD}}</td>
                    <td>{{property.Address.Address}}</td>
                    <td>{{property.Address.FullStreet}}</td>
                    <td>{{property.Address.City}}</td>
                    <td ng-click="$ctrl.goToProperty(property.Id)"><i class="fa fa-binoculars view"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>
