<div id="properties">
    {{title}}
   <div class="tabs">
        <span 
            ng-click="$ctrl.goToUnscheduled()" 
            ng-class="{selected: $ctrl.title == 'Unscheduled Properties'}">
            Unscheduled
        </span>
        <span ng-click="$ctrl.goToScheduled()" ng-class="{selected: $ctrl.title == 'Scheduled Properties'}">
            Scheduled
        </span>
        <span  ng-click="$ctrl.goToComplete()" ng-class="{selected: $ctrl.title == 'Complete Properties'}">
            Completed
        </span>
    </div>
    <div id="pageContent">
        <ui-view></ui-view>
    </div>
</div>
