<div id="mapPage">
    <div id="map">
    	<directions 
     		map='$ctrl.map'
    		waypoints='$ctrl.waypoints' 
    		directionscallback='$ctrl.directionscallback(routes)'
    		origin='$ctrl.origin'
    		destination='$ctrl.destination'
    		waypointoptimized='true'
    		travelmode="DRIVING"
    		>	
		</directions>
		<distances
			map='$ctrl.map'
			origin="$ctrl.origin"
			destinations='$ctrl.destinations'
			distancescallback = '$ctrl.distancescallback(distances)'
			travelmode="DRIVING"
		></distances>
    </div>
    <div>
    	<label>Start</label>
    	<input ng-model="$ctrl.startLoc" type="text" placeholder="Current Location" />
    </div>
    <div>
    	<label>End</label>
    	<input ng-model="$ctrl.endLoc" type="text" placeholder="Current Location" />
    </div>
    <button ng-click="$ctrl.getRoute()">Get Route</button>
</div>
